/* ESTILO GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

h2.titulos {
    color: #189199;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    padding: 40px;
}

/* ESTILO GLOBAL */

/* BODY */
body {
    background-image: linear-gradient(45deg, #06111a, #263038);
    height: 100vh;
    background-attachment: fixed;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* BODY */


/* HEADER STYLE */


/* HEADER MENU */
header {
    padding: 20px 5%;
    box-shadow: 0px 0px 10px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER MENU */



/* HEADER LINKS */
header a {
    color: #ffffffe1;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    transition: .1s;
}

header a:hover {
    color: #189199;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}

/* HEADER LINKS */

/* ESTILO BOTÃO */
#btn {
    border: 2px solid #189199;
    padding: 10px 40px;
    border-radius: 10px 10px;
    transition: 0.5s
}

#btn:hover {
    background-color: #189199;
    color: white;
}

/* ESTILO BOTÃO */

/* HOME */

/* SECTION HOME */
section.home {
    padding-top: 150px;
    height: 100vh;
}

section.home .flex {
    align-items: center;
    justify-content: center;
    gap: 80px;
}

/* SECTION HOME */


/* TEXTS HOME */
.home h1 {
    color: white;
    font-weight: 450;
    font-size: 70px;
    line-height: 0.7;
}

.home p {
    color: #189199;
    font-weight: 300;
    font-size: 40px;
    text-shadow: #189199 0px 0px 10px;
}

/* TEXTS HOME */


/* REDES HOME */
.redes {
    position: absolute;
}

.redes a {

    display: inline flex;
    width: 50px;
    height: 50px;
    background: #263038;
    color: #ffffff;
    margin: 0 0px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
}

.redes a:hover {
    color: #189199;
    transition: 0.5s;
}


.redes a:hover>i {
    transform: scale(1.1);
}

/* REDES HOME */


/* IMG HOME */
.img-home {
    filter: drop-shadow(5px 2px 2px rgb(24, 145, 153));
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }
}

/* IMG HOME */




/* BOTÃO DE CV */
#donwload {
    border: 2px solid rgb(24, 145, 153);
    background-color: #ffffff00;
    color: #ffffff;
    padding: 7px;
    border-radius: 8px;
    font-size: 18px;
}

#donwload:hover {
    color: #189199;
    transition: 0.5s;
}

/* BOTÃO DE CV */

/* FIM HOME */


/* SOBRE MIM */

/* ESTILO SEÇÃO "SOBRE" */
section.about-me {
    padding: 40px 4%;
}

section.about-me .flex {
    align-items: center;
    gap: 100px;
}

/* ESTILO SEÇÃO "SOBRE" */

/* FOTO */
.minha-foto img {
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: #189199 0px 0px 20px;
    transition: 1s;
}

.minha-foto img:hover {
    transform: scale(1.1);
}

/* FOTO */

/* TEXTO ABOUT ME */
.about-me .txt-about {
    color: #ffffff;
}

.about-me .txt-about h2 {
    color: #189199;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
}

.about-me .txt-about p {
    font-weight: 200;
    font-size: 20px;
    text-align: justify;
    width: 90%;
}

/* TEXTO ABOUT ME*/
/* SOBRE MIM */

/* SKILLS */

section.skills {
    padding: 40px 4%;
}

section.skills .flex {
    gap: 60px;
}

.skills .skill-box {
    color: white;
    padding: 40px;
    width: 30%;
    margin-top: 50px;
    flex-grow: 1;
    border: 1px solid #06111a;
    border-radius: 20px;
    box-shadow: rgb(24, 145, 153) 0px 0px 8px;
}

.skills .skill-box:hover {
    transform: scale(1.05);
    background-color: #06111a9a;
    transition: 0.5s;
}

.skills .skill-box i {
    font-size: 80px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.616));
    color: #189199;
}

.skills .skill-box h3 {
    font-size: 25px;
    font-weight: 400;
    margin-block: 25px;
}

.skills .skill-box p {
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}

/* SKILLS */

/* PORJETOS */

section.projetos{
    padding: 40px 4%;
}

section.projetos .flex{
    gap: 60px;
}

.projetos .projetos-box{
    color: white;
    padding: 40px;
    width: 30%;
    margin-top: 50px;
    flex-grow: 1;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(0, 0, 0) -2px 1px 10px;
}

.projetos .projetos-box:hover{
    transform: scale(1.05);
    background-color: #263038;
    transition: 0.5s;
}

.projetos .projetos-box i{
    font-size: 100px;
    color: #189199;
    padding: 30px;
}

.projetos .projetos-box h3{
    font-size: 25px;
    font-weight: 400;
    margin-block: 20px;
}

.projetos .projetos-box p{
    font-size: 20px;
    font-weight: 200;
}

/* PORJETOS */